

html { 
overflow-y: hidden; 
}

div {
	overflow: hidden;
	pointer-events: none;
	ocontextmenu="return false;"
}


body{
	background-color: #1c1c26;
	color: white;
	cursor: url("logo.png"), url("custom.cur"), default;
	font-family: Impact, Charcoal, sans-serif;
}
