

html { 
overflow-y: hidden; 
}

div {
	overflow: hidden;
	pointer-events: none;
	ocontextmenu="return false;"
}


.parent {
  pointer-events:none;        
}

body{
	background-color: #0d0014;
	color: white;
	cursor: url("logo.png"), url("custom.cur"), default;
	font-family: Impact, Charcoal, sans-serif;
}
